In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("dataset/owid-energy-data.csv", delimiter=",")

In [25]:
df2 = pd.read_csv("dataset/global-data-on-sustainable-energy.csv", delimiter=",")

In [26]:
df2.head()

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.93911,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.93911,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.93911,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.93911,67.709953

In [5]:
df.head()

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN

In [11]:
print(df["country"].unique())

['ASEAN (Ember)' 'Afghanistan' 'Africa' 'Africa (EI)' 'Africa (EIA)'
 'Africa (Ember)' 'Africa (Shift)' 'Albania' 'Algeria' 'American Samoa'
 'Angola' 'Antarctica' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba'
 'Asia' 'Asia & Oceania (EIA)' 'Asia (Ember)' 'Asia Pacific (EI)'
 'Asia and Oceania (Shift)' 'Australia' 'Australia and New Zealand (EIA)'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'CIS (EI)' 'Cambodia'
 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central & South America (EIA)' 'Central African Republic'
 'Central America (EI)' 'Central and South America (Shift)' 'Chad' 'Chile'
 'China' 'Colombia' 'Comoros' 'Congo' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Czechoslovakia' 'Democratic Republic of Congo' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'EU28 (Shift)' 'East Germany'
 'East Timor' 'Eastern Africa (EI)' 'Ecuador' 'Egypt' 'El Salvador'
 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia'
 'Eurasia (EIA)' 'Eurasia (Shift)' 'Europe' 'Europe (EI)' 'Europe (EIA)'
 'Europe (Ember)' 'Europe (Shift)' 'European Union (27)'
 'Falkland Islands' 'Faroe Islands' 'Fiji' 'Finland' 'France'
 'French Guiana' 'French Polynesia' 'G20 (Ember)' 'G7 (Ember)' 'Gabon'
 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland'
 'Grenada' 'Guadeloupe' 'Guam' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'High-income countries' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo'
 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latin America and Caribbean (Ember)'
 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania'
 'Low-income countries' 'Lower-middle-income countries' 'Luxembourg'
 'Macao' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Martinique' 'Mauritania' 'Mauritius' 'Mexico' 'Micronesia (country)'
 'Middle Africa (EI)' 'Middle East (EI)' 'Middle East (EIA)'
 'Middle East (Ember)' 'Middle East (Shift)' 'Moldova' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'Netherlands Antilles' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Non-OECD (EI)'
 'Non-OECD (EIA)' 'Non-OPEC (EI)' 'Non-OPEC (EIA)' 'North America'
 'North America (EI)' 'North America (Ember)' 'North America (Shift)'
 'North Korea' 'North Macedonia' 'Northern Mariana Islands' 'Norway'
 'OECD (EI)' 'OECD (EIA)' 'OECD (Ember)' 'OECD (Shift)' 'OPEC (EI)'
 'OPEC (EIA)' 'OPEC (Shift)' 'Oceania' 'Oceania (Ember)' 'Oman' 'Pakistan'
 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Persian Gulf (EIA)'
 'Persian Gulf (Shift)' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Reunion' 'Romania' 'Russia' 'Rwanda'
 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Pierre and Miquelon' 'Saint Vincent and the Grenadines' 'Samoa'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia'
 'Serbia and Montenegro' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South America' 'South Korea' 'South Sudan'
 'South and Central America (EI)' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname'
 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey'
 'Turkmenistan' 'Turks and Caicos Islands' 'Tuvalu'
 'U.S. Pacific Islands (EIA)' 'U.S. Territories (EIA)' 'USSR' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'United States Pacific Islands (Shift)'
 'United States Territories (Shift)' 'United States Virgin Islands'
 'Upper-middle-income countries' 'Uruguay' 'Uzbekistan' 'Vanuatu'
 'Venezuela' 'Vietnam' 'Wake Island (EIA)' 'Wake Island (Shift)'
 'West Germany' 'Western Africa (EI)' 'Western Sahara' 'World' 'Yemen'
 'Yugoslavia' 'Zambia' 'Zimbabwe']

In [24]:
df[(df["country"] == "World") & (df["year"] > 2015)]

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
21202,World,2016,NaN,7.513474e+09,1.071343e+14,4.464,40.751,126.936,953.729,63.465,...,1.343,0.571,15.728,336.797,2575.669,127.554,958.37,342.807,3.926,1.674
21203,World,2017,NaN,7.599822e+09,1.104307e+14,2.133,20.340,128.170,974.069,66.861,...,1.766,0.755,18.645,462.258,3037.927,149.547,1136.53,399.737,4.515,1.934
21204,World,2018,NaN,7.683790e+09,1.136302e+14,7.784,75.824,136.637,1049.894,70.114,...,2.186,0.944,11.213,320.900,3358.827,164.932,1267.30,437.132,4.842,2.081
21205,World,2019,NaN,7.764951e+09,NaN,7.116,74.708,144.830,1124.602,73.081,...,2.651,1.139,11.902,385.899,3744.726,182.636,1418.16,482.260,5.348,2.295
21206,World,2020,NaN,7.840953e+09,NaN,-4.521,-50.843,136.942,1073.758,76.662,...,3.202,1.426,12.201,441.456,4186.181,202.634,1588.84,533.887,6.008,2.660
21207,World,2021,NaN,7.909295e+09,NaN,6.437,69.113,144.497,1142.872,83.091,...,3.739,1.670,16.321,665.413,4851.594,233.685,1848.28,613.404,6.600,2.924
21208,World,2022,NaN,7.975105e+09,NaN,4.929,56.335,150.369,1199.207,84.652,...,4.571,2.055,13.523,636.006,5487.600,263.126,2098.46,688.091,7.322,3.271

## Dataset Info
Checking the information about the dataset to find columns with missing values

In [6]:
df.dtypes

country                    object
year                        int64
iso_code                   object
population                float64
gdp                       float64
                           ...
wind_elec_per_capita      float64
wind_electricity          float64
wind_energy_per_capita    float64
wind_share_elec           float64
wind_share_energy         float64
Length: 129, dtype: object

In [14]:
df.describe()

,year,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,biofuel_electricity,biofuel_share_elec,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
count,21590.000000,1.822400e+04,1.113800e+04,1747.000000,2687.000000,2302.000000,2767.000000,5278.000000,5529.000000,5494.000000,...,6849.000000,4035.000000,2413.000000,4639.000000,4744.000000,7070.000000,8000.000000,4065.000000,6885.000000,4101.000000
mean,1973.675498,1.049096e+08,3.578413e+11,46.091694,2.719074,133.558459,38.068209,63.043115,10.904961,1.852920,...,0.626012,0.210395,267.541206,7.314174,53.422938,62.769786,17.529972,232.108949,1.401382,0.651413
std,35.155113,4.628010e+08,2.408514e+12,274.616745,10.057018,264.707851,111.623148,196.689187,47.612938,5.104237,...,2.077071,0.643304,5940.944120,37.327922,273.255306,252.659338,101.380285,733.841324,4.482261,1.893820
min,1900.000000,1.833000e+03,1.642060e+08,-100.000000,-50.843000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-100.000000,-51.208000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1945.000000,1.726186e+06,1.368156e+10,-0.616500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4.029000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1983.000000,6.990115e+06,4.174163e+10,8.179000,0.000000,15.482000,0.673000,0.135000,0.010000,0.065500,...,0.000000,0.000000,20.000000,0.000000,0.005000,0.000000,0.000000,0.051000,0.000000,0.003000
75%,2003.000000,2.558270e+07,1.741314e+11,26.508500,0.861500,165.266750,13.629500,34.992500,0.680000,1.567750,...,0.096000,0.018500,47.971000,0.315000,2.357750,2.099500,0.139000,45.523000,0.372000,0.268000
max,2022.000000,7.975105e+09,1.136302e+14,5659.328000,141.131000,2588.512000,1199.207000,2514.102000,675.110000,71.429000,...,40.000000,7.586000,242384.844000,665.413000,5487.600000,3218.151000,2098.460000,8422.012000,56.840000,26.157000

In [21]:
# Ensure data is sorted by country and year
data = df.sort_values(by=['country', 'year'])

# Calculate the GDP Growth % using the pct_change() method
data['GDP Growth %'] = data.groupby('country')['gdp'].pct_change() * 100

# Display the dataset to verify the new column
print(data[(data['country'] == 'United Kingdom') & (data['year'] == 2017)][['country', 'year', 'gdp', 'GDP Growth %']].head())

              country  year           gdp  GDP Growth %
20154  United Kingdom  2017  2.506604e+12      1.892081